In [2]:
import pandas as pd # type: ignore

file_path = r'C:\Users\SNR23\Desktop\HR Automation\Email_Automation\Gearup Email Automation\Gearup Email Automation\DSGS_Offer status sheet_2025_V1.xlsx'

df = pd.read_excel(file_path)

In [3]:
df

,Sr. No.,Offer id,Trigram,Title,HF #,Name,Emp Type,Business Title,Relevant Exp.(in yrs),Grad/PG/Masters,...,Current company,College name,Primary source,Job Family,Sub Type,Status.1,Gear-up,Offer accepted,Revised Offer Date,Pre-BGV Initiation
0,1,-,-,-,-,Rutuja Wankhade,Paid Intern,-,-,-,...,-,-,-,-,Intern,-,-,-,-,-
1,2,-,-,-,-,Vijay Pilaware,Direct Contractor,-,-,-,...,-,-,-,-,Lateral,-,-,-,-,-

In [ ]:
candidate_name = row['Candidate Name']
candidate_name = df['Name']
email = df['Candidate Email Id']
location = df['Location']
candidate_type =df['Emp Type']

In [5]:
print (candidate_name)

0    Rutuja Wankhade
1     Vijay Pilaware
Name: Name, dtype: object